@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/card.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodape.css");


:root{
    --cor-fundo:#EBECEE;
    --branco: #FFFFFF;
    --cor-laranja:#EB9B00;
    --cor-azul: #002f52;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%,#006BB8 165.37%);
    --font-principal:'Poppins';
    --font-tablet:'Josefin Sans';
    --black:#000000;
    --cinza:#858585;
    --cinza-escuro:#474646;
}
body{
    background-color: var(--cor-fundo);
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;

}
